---
---
@import "normalize";
@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
}

html {
  color: $font-color;
  font-size: $font-size;
  line-height: 1.5em;
}

main {
  margin: auto;
  padding: $gutter-md;
  max-width: 800px;
}

header > a, h2 a {
  text-decoration: none;
}

h1 {
  background-color: $joe-mccann-gray;
  margin: 0;
}

h1 img {
  width: 100%;
}

h1 span {
  position: absolute;
  left: -5000px;
}

[src="/img/austin-javascript.svg"] {
  display: block;
}

[src="/img/austinjs.svg"] {
  display: none;
}

a {
  color: $font-color;
  @include transition(color, .1s, ease-in-out);
  @include transition(background-color, .1s, ease-in-out);
}

a:visited {
  color: lighten($font-color, 15%);
}

a:hover {
  background-color: $joe-mccann-gray;
  color: $font-color;
}

.the-stuff {
  font-size: 1.2rem;
  width: ($content-width - 2 * $gutter-md) / 2 - $gutter-md;
  display: inline-block;
  vertical-align: top;
  height: 211px; /* ~*magic*~ */
  position: relative;
}

.the-stuff + .the-stuff {
  margin-left: $gutter-md;
}

.the-stuff img {
  height: 20px;
  max-width: 100%;
}

.the-stuff .go-on {
  position: absolute;
  bottom: $gutter-md;
}

section p:last-child {
  margin-bottom: 0;
}

.please-retweet {
  max-width: 400px;
  display: block;
  margin: auto;
}


@media (max-width: 450px) {
  .please-retweet {
    max-width: 100%;
  }
}

@media (max-width: $content-width) {
  main {
    width: auto;
  }

  .the-stuff {
    display: block;
    width: auto;
    height: auto;
  }

  .the-stuff + .the-stuff {
    margin: $gutter-md 0;
  }

  .the-stuff .go-on {
    position: static;
  }

  [src="/img/austin-javascript.svg"] {
    display: none;
  }

  [src="/img/austinjs.svg"] {
    display: block;
  }
}

p, h2 {
  margin: $gutter-md 0;
}

.no-hover-color:hover {
  background-color: transparent;
}

.media-object, .media-object div {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}

.media-object img {
  float: left;
  margin-right: $gutter-md;
}

.ajs-box {
  background-color: $joe-mccann-gray;
  border: $gutter-md solid $alex-sexton-pink;
  padding: $gutter-md;
}

.people {
  text-align: center;
  margin-left: -$gutter-md;
}

.person {
  text-align: left;
  width: 300px;
  display: inline-block;
  margin-bottom: $gutter-md;
  margin-left: $gutter-md;
}

.person img, .speaker-bio img {
  width: 100px;
  border: $gutter-md / 3 solid $font-color;
}

.hidden {
  display: none;
}
