---
layout: base
title: About
meta:
  description: Austin JavaScript is a community that meets to discuss JavaScript and the open web. The group started back in 2009, and it’s been going strong ever since.
---
<div class="columns is-variable is-8-desktop">
  <div class="column is-two-thirds">
    <div class="content">
      <h1>About</h1>
      <p>Austin JavaScript is a community that meets to discuss JavaScript and the open web. The group started back in 2009, and it’s been going strong ever since. We cover a range of topics, including:</p>
      <ul>
        <li>The JavaScript language</li>
        <li>New features of the web platform</li>
        <li>JavaScript app frameworks</li>
        <li>Frontend ops</li>
        <li>Testing your code</li>
        <li>Running JavaScript in native apps</li>
        <li>Running JavaScript on the server</li>
        <li>Running JavaScript on other peoples sites</li>
        <li>Cryptography</li>
        <li>How CSS colors got their names</li>
      </ul>
      <p>If you’d like to get more details on past topics, take a look at the <a href="/post/">archives</a>.</p>

      <h2>How it usually works</h2>
      <p>We typically meet on the 3<sup>rd</sup> Tuesday of each month downtown. We’ll have a speaker or two, open things up for questions and discussion, and then head to a nearby watering hole to continue the festivities.</p>

      <h2>Excellence</h2>
      <p>We’ve work hard to build a community of people that treats each other with <em>excellence</em>. We’ve formalized what this means into our <a href="/code-of-conduct/">Code of Conduct</a>.</p>
    </div>

    <div class="has-offset-top-3 has-border-top">
      <div class="content">
        <h2>Emeriti</h2>
        <p>If you come across the following people, kindly open the door for them, help them to their seat, and thank them for their many years of service. They helped make Austin JavaScript what it is today.</p>
      </div>
      <div class="bricks-flex">
        {%- for key in people -%}
        {%- assign person = key[1] -%}
        {%- if person.status == 'emeriti' -%}
        <div class="brick">
          {%- include business-card.liquid -%}
        </div>
        {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </div>

  <div class="column">
    <div class="has-offset-top-2">
      <div class="content">
        <h2>The Organizers</h2>
        <p>Austin JavaScript is made possible by the hard work and goodwill of many people, but there are a few in particular that you should feel free to reach out to if you’ve got any questions:</p>
      </div>
      {%- for key in people -%}
      {%- assign person = key[1] -%}
      {%- if person.status == 'active' -%}
      <div class="brick">
        {%- include business-card.liquid -%}
      </div>
      {%- endif -%}
      {%- endfor -%}
      </div>
  </div>
</div>
