---
layout: base
title: Code of Conduct
meta:
  description: Our meetup is dedicated to providing a harassment-free meetup experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion.
---
<div class="columns is-variable is-8-desktop">
  <div class="column is-two-thirds">
    <div class="content">
      <h1>Code of conduct</h1>
      <p>All attendees, speakers, sponsors and volunteers at our meetup are required to agree with the following code of conduct. Organizers will enforce this code throughout the event. We expect cooperation from all participants to help ensure a safe, constructive environment for everybody.</p>
      <p><em>TL;DR: Be excellent with each other.</em></p>

      <h2>The quick version</h2>
      <p>Our meetup is dedicated to providing a harassment-free meetup experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of meetup participants in any form. Sexual language and imagery is not appropriate for any meetup venue, including talks, workshops, parties, Twitter and other online media. Meetup participants violating these rules may be sanctioned or expelled from the meetup <em>without a refund</em> at the discretion of the meetup organizers.</p>

      <h2>The less quick version</h2>
      <p>Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>
      <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>
      <p>Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualized images, activities, or other material.</p>
      <p>If a participant engages in harassing behavior, the meetup organizers may take any action they deem appropriate, including warning the offender or expulsion from the meetup.</p>
      <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact an organizer immediately.</p>
      <p>Organizers will be happy to help participants contact venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the meetup. We value your attendance.</p>
      <p>We expect participants to follow these rules at the meetup itself as well as meetup-related social events.</p>

      <h2>Original source and credit</h2>
      <ul>
        <li><a href="https://jerseyscript.github.io/codeofconduct.html">JerseyScript</a></li>
        <li><a href="https://2012.jsconf.us/#/about">JSConf US 2012 About Page</a></li>
        <li><a href="http://geekfeminism.wikia.com/wiki/meetup_anti-harassment/Policy">The Ada Initiative</a></li>
      </ul>
      <p>Please help by translating or improving: <a href="https://github.com/leftlogic/confcodeofconduct.com">http://github.com/leftlogic/confcodeofconduct.com</a></p>
      <p>This work is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a></p>
    </div>
  </div>

  <div class="column">
    <div class="content has-offset-top-2">
      <h3>Need help?</h3>
      <p>Contact an organizer in person or via e-mail:</p>
      <ul>
        {% for key, person in people %}
        {% if person.status == 'active' %}
        <li>{{ person.name }}: <a href="mailto:{{ person.email }}">{{ person.email }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
