---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link rel="self" href="{{ site.feedUrl }}"/>
  <link href="{{ site.url }}"/>
  <updated>{{ (collections.meetups | last).dateModified | rssDate }}</updated>
  <id>{{ site.url }}</id>
  <author>
    <name>{{ site.author.name }}</name>
  </author>
  {%- for post in collections.meetups %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(site.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <id>{{ absolutePostUrl }}</id>
    <published>{{ post.date | rssDate }}</published>
    <updated>{{ post.dateModified | rssDate }}</updated>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
