<ul>
  <li>
    When: <x-date format="meetup">{{ page.when | date_to_xmlschema }}</x-date>
  </li>
  {% if include.location == "spredfast" %}
    <li>
      Where: Spredfast &mdash; 200 West Cesar Chavez Street &mdash; 3<sup>rd</sup> Floor of the Silicon Labs building on Colorado
    </li>
  {% elsif include.location == "techspace" %}
    <li>
      Where: TechSpace Austin &mdash; 98 San Jacinto Boulevard &mdash; Austin, TX 78701
    </li>
  {% elsif include.location == "gingerman" %}
    <li>
      Where: <a href="http://thegingerman.com/austin/">The Gingerman Austin &mdash; 301 Lavaca Street &mdash; Austin, TX 78701</a>
    </li>
  {% elseif include.location == "indeed" %}
    <li>
      Where: Indeed Downtown &mdash; 201 West 5<sup>th</sup> St, 18<sup>th</sup> Floor
    </li>
  {% else %}
    <li>
      Where: Frog Design – 101 West 6<sup>th</sup> Street – 2<sup>nd</sup> Floor
    </li>
  {% endif %}
  <li>
    How: Parking is on the street, or you can bus, bike, rollerblade, segway,
    jet ski, or walk yourself down there and just not worry about it.
  </li>
  {% unless include.nodranks or include.location == "gingerman" %}
  <li>
    Drinks and pizza will be provided.
  </li>
  {% endunless %}
  <li>
    Take a look at the <a href="/austinjs-code-of-conduct/">Code of Conduct</a>
  </li>
</ul>

{% unless include.nolavacast or include.location == "lavacast" %}
Afterwards, the discussion carries on a few blocks away at <a
href="https://lavacastdowntown.com/">Lavaca Street Bar</a> where they have food,
drinks, and 12 revolving taps.
{% endunless %}

<p>
  If you&rsquo;ve got any questions or suggestions, feel free to contact
  {% for person in site.people.organizers %}
  {{ person[1].short }}
  (<a href="https://twitter.com/{{ person[1].twitter }}">@{{ person[1].twitter }}</a>){% if forloop.last %}.{% else %} or{% endif %}
  {% endfor %}
  Also, be sure to follow us on Twitter: <a href="{{ site.twitter.url }}">
  @{{ site.twitter.user }}</a>
</p>

<p>
  And finally, <a href="/austinjs-code-of-conduct/">be excellent to each other</a>.
</p>

