<ul>
  <li>
    When: <x-date format="meetup">{{ page.when | date_to_xmlschema }}</x-date>
  </li>
  <li>
    Where: Frog Design – 101 West 6<sup>th</sup> Street – 2<sup>nd</sup> Floor
  </li>
  <li>
    How: Parking is on the street, or you can bus, bike, rollerblade, segway,
    jet ski, or walk yourself down there and just not worry about it.
  </li>
  <li>
    Drinks and pizza will be provided.
  </li>
  <li>
    Take a look at the <a href="/austinjs-code-of-conduct/">Code of Conduct</a>
  </li>
</ul>

Afterwards, the discussion carries on a few blocks away at <a
href="http://thegingerman.com/austin/">The Gingerman</a> where they have over
70 beers on tap.

<p>
  If you&rsquo;ve got any questions or suggestions, feel free to contact
  {% for person in site.people.organizers %}
  {{ person[1].short }}
  (<a href="https://twitter.com/{{ person[1].twitter }}">@{{ person[1].twitter }}</a>){% if forloop.last %}.{% else %} or{% endif %}
  {% endfor %}
  Also, be sure to follow us on Twitter: <a href="{{ site.twitter.url }}">
  @{{ site.twitter.user }}</a>
</p>

