<div class="columns is-variable is-8 has-offset-top">
  <div class="column">
    {%- if previousPost -%}
    <a class="arrow-left" href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
    {%- endif -%}
  </div>

  <div class="column has-text-right">
    {%- if nextPost -%}
    <a class="arrow-right" href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
    {%- endif -%}
  </div>
</div>
