@charset "utf-8";

// tetradic harmony via https://color.joelb.dev/hex/ED1878
$tetradic0: hsl(333, 85%, 50%);
$tetradic1: hsl(213, 85%, 50%);
$tetradic2: hsl(153, 85%, 40%); // lightness reduced by 10%
$tetradic3: hsl(33, 85%, 50%);

$primary: $tetradic0;
$info: $tetradic1;

// @import "../node_modules/bulma/bulma.sass";

// @import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../node_modules/bulma/sass/utilities/functions.sass";
@import "../node_modules/bulma/sass/utilities/derived-variables.sass";
// @import "../node_modules/bulma/sass/utilities/animations.sass";
@import "../node_modules/bulma/sass/utilities/mixins.sass";
@import "../node_modules/bulma/sass/utilities/controls.sass";

// @import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/base/minireset.sass";
@import "../node_modules/bulma/sass/base/generic.sass";
@import "../node_modules/bulma/sass/base/helpers.sass";

// @import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
// @import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/notification.sass";
// @import "../node_modules/bulma/sass/elements/progress.sass";
// @import "../node_modules/bulma/sass/elements/table.sass";
// @import "../node_modules/bulma/sass/elements/tag.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
// @import "../node_modules/bulma/sass/elements/other.sass";

// @import "../node_modules/bulma/sass/form/_all.sass";
// @import "../node_modules/bulma/sass/form/shared.sass";
// @import "../node_modules/bulma/sass/form/input-textarea.sass";
// @import "../node_modules/bulma/sass/form/checkbox-radio";
// @import "../node_modules/bulma/sass/form/select.sass";
// @import "../node_modules/bulma/sass/form/file.sass";
// @import "../node_modules/bulma/sass/form/tools.sass";

// @import "../node_modules/bulma/sass/components/_all.sass";
// @import "../node_modules/bulma/sass/components/breadcrumb.sass";
@import "../node_modules/bulma/sass/components/card.sass";
// @import "../node_modules/bulma/sass/components/dropdown.sass";
@import "../node_modules/bulma/sass/components/level.sass";
@import "../node_modules/bulma/sass/components/list.sass";
@import "../node_modules/bulma/sass/components/media.sass";
// @import "../node_modules/bulma/sass/components/menu.sass";
@import "../node_modules/bulma/sass/components/message.sass";
// @import "../node_modules/bulma/sass/components/modal.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/pagination.sass";
@import "../node_modules/bulma/sass/components/panel.sass";
// @import "../node_modules/bulma/sass/components/tabs.sass";

@import "../node_modules/bulma/sass/grid/_all.sass";
// @import "../node_modules/bulma/sass/grid/columns.sass";
// @import "../node_modules/bulma/sass/grid/tiles.sass";

@import "../node_modules/bulma/sass/layout/_all.sass";
// @import "../node_modules/bulma/sass/layout/hero.sass";
// @import "../node_modules/bulma/sass/layout/section.sass";
// @import "../node_modules/bulma/sass/layout/footer.sass";

/*
 * BULMA CUSTOMIZATIONS
 */

.hero.is-primary {
  .navbar-item,
  .navbar-link {
    // reduce opacity for a11y color contrast
    color: hsla(0, 100%, 100%, 0.8);
  }
}

.icon {
  vertical-align: bottom;

  @media screen and (min-width: $desktop) {
    .navbar-item & {
      margin-bottom: -6px;
    }
  }
}

/*
 * BUSINESS CARD ADJUSTMENTS
 */

.card,
.footer {
   // Add rounded edges to Bulma .image class inside a .card.
   .image {
     border-radius: 0.25em;
     overflow: hidden;
   }
 }

/*
 * BULMA +
 */

@media screen and (min-width: $desktop) {
  .is-sr-only-desktop {
    border: none !important;
    clip: rect(0, 0, 0, 0) !important;
    height: 0.01em !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 0.01em !important;
  }
}

.has-text-tetradic1 {
  color: $tetradic1 !important;
}
.has-text-tetradic2 {
  color: $tetradic2 !important;
}
.has-text-tetradic3 {
  color: $tetradic3 !important;
}

.has-border-top {
  border-top: 1px solid $white-ter;
}

.has-margin-top {
  margin-top: 1em;
}

@media screen and (min-width: $tablet) {
  .has-offset-top {
    margin-top: 1em;
    padding-top: 1em;
  }

  .has-offset-top-2 {
    margin-top: 2em;
    padding-top: 1em;
  }

  .has-offset-top-3 {
    margin-top: 3em;
    padding-top: 1em;
  }
}

.is-marginless-bottom {
  margin-bottom: 0 !important;
}

.logo {
  transform: scale(0.9) translateY(0.25em);
}

.sponsor-logo {
  max-width: 17vw;
  min-width: 10em;
}

/*
 * bricks for emeritus cards
 */

.bricks-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: -0.15em;

  .brick {
    flex: 1 1 18em;
    margin: 0.15em;
    max-width: 25em;
  }
}

.brick {
  margin-bottom: 1em;
}

/*
 * meetup flex layout (to swap details up on mobile)
 */

 @media screen and (max-width: $tablet) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  .flex-item {
    flex: 0 0 100%;
  }
  .flex-item-0 {
    margin-bottom: 2em;
    order: -1;
  }
}

/*
 * homepage pics
 */

.pic {
  display: inline-block;
  font-size: 1rem;
  height: 50px;
  margin: -1px !important;
  width: 50px;

  img {
    border-radius: 5px;
  }
}

/*
 * THE REST
 */

@import "tooltips";
