$font-family: sans-serif;
$heading-font-family: sans-serif;

$alex-sexton-pink: #ed1978;
$joe-mccann-gray: #dee3dd;

$font-color: #353635;

$content-width: 800px;

$gutter-md: 15px;

$font-size: 16px;
