---
layout: base
title: Meetup archive
---
<div class="content">
  <h1>{{ title }}</h1>
  <ul>
    {% for post in collections.meetups | reverse %}
    <li>
      <a href="{{ post.url | url }}">
        {{ post.inputPath.substring(11, 21) }}:
        <span class="has-text-weight-semibold">{{ post.data.title }}</span>
        {% if post.data.video %}
        <span class="icon tooltip" title="video available">
          <ion-icon src="{{ '/assets/ionicon/videocam.svg' | url }}"></ion-icon>
        </span>
        {% endif %}
        {% if post.data.slides %}
        <span class="icon tooltip" title="slides available">
          <ion-icon src="{{ '/assets/ionicon/albums.svg' | url }}"></ion-icon>
        </span>
        {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
