<!DOCTYPE html>
<html lang="en" class="has-background-white-ter">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if title != site.title %}{{ title }} • {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ layoutContent | striptags(true) | truncate(150) }}">
  <link rel=canonical href="{{ site.url }}{{ page.url | url }}">
  <link rel=alternate type=application/atom+xml href="{{ site.url }}{{ '/feed.xml' | url }}" title="{{ site.title }}" />
  <link rel="apple-touch-icon" type="image/png" href="{{ '/assets/icon/favicon-ios.png' | url }}" sizes="180x180">
  <link rel="icon" type="image/png" href="{{ '/assets/icon/favicon-android.png' | url }}" sizes="192x192">
  <link rel="icon" type="image/png" href="{{ '/assets/icon/favicon.png' | url }}" sizes="32x32">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</head>
<body>
  <header class="hero is-primary">
    <div class="hero-body is-paddingless">
      <div class="container">
        <div class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <figure class="image is-96x96 logo">
              <img src="{{ '/assets/icon/logo.svg' | url }}" alt="logo">
            </figure>
            <a href="{{ '/' | url }}" class="navbar-item title has-text-white is-size-1-tablet">
              {{ site.title }}
            </a>
          </div>
          <div class="navbar-menu is-size-4">
            <div class="navbar-end">
              <a class="navbar-item" href="{{ '/' | url }}">
                Home
              </a>
              <a class="navbar-item" href="{{ '/posts/meetups/' | url }}">
                Meetups
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {% if page.url == '/' %}
  <section class="hero">
    <figure class="image">
      <img src="{{ '/assets/img/carlos-alfonso-AlBgcDfDG_s-unsplash_3by1-prog1.jpg' | url }}" alt="Austin skyline" title="Photo by Carlos Alfonso on Unsplash" loading="lazy">
    </figure>
  </section>
  {% endif %}

  <main class="section has-background-white">
    <div class="container">
      {{ content | safe }}
    </div>
  </main>

  <footer class="footer has-background-white-ter has-offset-top">
    <div class="container">
      <div class="navbar has-background-white-ter">
        <div class="navbar-menu is-active">
          <div class="navbar-start">
            <a class="navbar-item" href="{{ '/' | url }}">
              &copy; {{ page.date.getFullYear() }} Austin JavaScript
            </a>
            <a class="navbar-item" href="{{ '/about/' | url }}">
              About
            </a>
            <a class="navbar-item" href="{{ '/code-of-conduct/' | url }}">
              Code of Conduct
            </a>
            <a class="navbar-item" href="{{ '/contributing/' | url }}">
              Contributing
            </a>
            <a class="navbar-item" href="{{ '/posts/' | url }}">
              Posts
            </a>
            <a class="navbar-item is-hidden-desktop" href="{{ '/posts/meetups/' | url }}">
              Meetups
            </a>
          </div>
          <div class="navbar-end">
            <a class="navbar-item is-inline-block-tablet" href="https://twitter.com/{{ site.author.twitter }}">
              <span class="icon tooltip" title="&ldquo;@{{ site.author.twitter }}&rdquo; on Twitter">
                <ion-icon class="is-size-3" name="logo-twitter"></ion-icon>
              </span>
              <span class="is-sr-only-desktop">Twitter: @{{ site.author.twitter }}</span>
            </a>
            <a class="navbar-item is-inline-block-tablet" href="https://{{ site.author.slack }}.slack.com">
              <span class="icon tooltip" title="&ldquo;{{ site.author.slack }}&rdquo; on Slack">
                <ion-icon class="is-size-3" name="logo-slack"></ion-icon>
              </span>
              <span class="is-hidden-desktop">Slack: {{ site.author.slack }}</span>
            </a>
            <a class="navbar-item is-inline-block-tablet" href="https://github.com/{{ site.author.github }}">
              <span class="icon tooltip" title="&ldquo;{{ site.author.github }}&rdquo; on GitHub">
                <ion-icon class="is-size-3" name="logo-github"></ion-icon>
              </span>
              <span class="is-hidden-desktop">GitHub: {{ site.author.github }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
