---
layout: default
---
<article>
  <header>
    <h2>
      <a href="{{ page.url }}">
        {{ page.title }}
      </a>
    </h2>
  </header>

  {{ content }}

  <h3>Our speaker</h3>
  {% for speaker in page.speakers %}
  <div class="media-object speaker-bio">
    <a href="https://twitter.com/{{ speaker.twitter }}">
      <img src="{{ speaker.avatar }}" alt="{{ speaker.name }}">
    </a>
    <div>
      <p>
        <a href="https://twitter.com/{{ speaker.twitter }}"><strong>{{ speaker.name }}</strong></a>{% if speaker.title %}, {{ speaker.title }}{% endif %}
      </p>
      <p>{
        {% if speaker.homepage %}
        homepage: "<a href="{{ speaker.homepage }}">{{ speaker.homepage }}</a>",
        {% endif %}
        {% if speaker.twitter %}
        twitter: "<a href="https://twitter.com/{{ speaker.twitter }}">@{{ speaker.twitter }}</a>",
        {% endif %}
        {% if speaker.github %}
        github: "<a href="https://github.com/{{ speaker.github }}">{{ speaker.github }}</a>",
        {% endif %}
        {% if speaker.linkedin %}
        linkedin: "<a href="https://www.linkedin.com/in/{{ speaker.linkedin }}">{{ speaker.linkedin }}</a>"
        {% endif %}
      }</p>
      {% if speaker.bio %}
      <p>
        {{ speaker.bio }}
      </p>
      {% endif %}
    </div>
  </div>
  {% endfor %}

  {% assign venue = site.data.organizations[page.venue] %}
  <p>Thank you, <a href="{{ venue.url }}">{{ venue.name }}</a>, for hosting!</p>

  {% if page.sponsor.name or page.sponsor %}
  {% if page.sponsor.name and page.sponsor.url %}
  {% assign sponsorOrg = page.sponsor %}
  {% elsif page.sponsor %}
  {% assign sponsorOrg = site.data.organizations[page.sponsor] %}
  {% endif %}

  {% if sponsorOrg.logo %}
  <p style="text-align: center;"><a href="{{ sponsorOrg.url }}"><img src="{{ sponsorOrg.logo }}" alt="{{ sponsorOrg.name }} logo" style="height: 75px;"></a></p>
  {% endif %}
  {% endif %}
  <p>If you have a slice of pizza or a drink, be sure to find one of our sponsors from <a href="{{ sponsorOrg.url }}">{{ sponsorOrg.name }}</a> and say "thank you".</p>

  <ul>
    <li>
      When: <x-date format="meetup">{{ page.when | date_to_xmlschema }}</x-date>
    </li>
    <li>
      Where: <a href="{{ venue.url }}">{{ venue.name }}</a> &mdash; {{ venue.location }} <em>{{ venue.notes }}</em>
    </li>
    <li>
      How: Parking is on the street, or you can bus, bike, rollerblade, segway, jet ski, or walk yourself down there and just not worry about it. Just don't ride those electric scooters on the sidewalks.
    </li>
    <li>
      Drinks and pizza will be provided.
    </li>
    <li>
      Take a look at the <a href="/austinjs-code-of-conduct/">Code of Conduct</a>
    </li>
  </ul>

  {% if page.after %}
  {% assign after = site.data.organizations[page.after] %}
  Afterwards, the discussion carries on a few blocks away at <a href="{{ after.url }}">{{ after.name }}</a> where they have food and drinks.
  {% endif %}

  <p>
    {% include organizers.html %}

    Also, be sure to follow us on Twitter: <a href="{{ site.twitter.url }}">@{{ site.twitter.user }}</a>
  </p>
  <p>
    And finally, <a href="/austinjs-code-of-conduct/">be excellent to each other</a>.
  </p>
</article>

<footer>
  Posted on
  <time datetime={{ page.date | date: "%Y-%m-%d" }}>
    {{ page.date | date: "%b %-d, %Y" }}
  </time>
  by {% include byline.html %}
</footer>

<nav>
  {% if page.previous %}
  <a href="{{ page.previous.url }}">
    &larr; {{ page.previous.title }}
  </a>
  {% endif %}

  {% if page.next %}
  <a href="{{ page.next.url }}">
    {{ page.next.title }} &rarr;
  </a>
  {% endif %}
</nav>
