---
layout: base
---
<div class="columns is-variable is-8-desktop">
  <div class="column is-two-thirds flex-container">
    <h1 class="title flex-item">{{ title }}</h1>
    <div class="content flex-item">
      {{ content | safe }}
    </div>

    {% meetupDetails page.date, venue, after %}
  </div>

  <div class="column has-offset-top">
    {% if slides or video %}
    <div class="message is-warning flex-item">
      <h3 class="message-header">Post-meetup update</h3>
      <ul class="message-body">
        {% if slides %}
        <li><a href="{{ slides }}">Get the slide deck!</a></li>
        {% endif %}
        {% if video %}
        <li><a href="{{ video }}">Watch the video!</a></li>
        {% endif %}
      </ul>
    </div>

    {% endif %}
    <h2 class="title is-sr-only">Speaker</h2>

    {% for person in speakers %}
    <div class="has-offset-top">
      {% include 'business-card.njk' %}
    </div>
    {% endfor%}
  </div>
</div>

{% if sponsor.name or sponsor %}
{% if sponsor.name and sponsor.url %}
{% set sponsorOrg = sponsor %}
{% elif sponsor %}
{% set sponsorOrg = organizations[sponsor] %}
{% endif %}
<div class="columns is-variable is-8-desktop">
  <div class="column is-two-thirds">
    <div class="box is-8 content">
      <h3>Sponsor</h3>

      {% if sponsorOrg.logo %}
      <figure class="image sponsor-logo">
        <img src="{{ sponsorOrg.logo }}" alt="Sponsored by: {{ sponsorOrg.name }}">
      </figure>
      {% endif %}

      {% if sponsorOrg.message %}
      <div>
        {{ sponsorOrg.message | safe }}
      </div>
      {% elif sponsorOrg.name %}
      <p>Austin JavaScript is <strong>sponsored this month by <a href="{{ sponsorOrg.url }}">{{ sponsorOrg.name }}</a></strong>. Please thank them for their gracious gifts of pizza and drinks and for their support of the local JavaScript community.
        {% if sponsorOrg.careerUrl %}
        Ask them about their <a href="{{ sponsorOrg.careerUrl }}">job opportunities</a>!
        {% endif %}
      </p>
      {% endif %}

      {% if sponsorOrg.note %}
      <p>
        {{ sponsorOrg.note | safe }}
      </p>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

<div class="columns is-variable is-8 has-offset-top">
  {% set nextPost = collections.meetups | getNextCollectionItem(page) %}
  {% set previousPost = collections.meetups | getPreviousCollectionItem(page) %}
  <div class="column">
    {% if previousPost %}
    <a href="{{ previousPost.url | url }}">← {{ previousPost.data.title }}</a>
    {% endif %}
  </div>

  <div class="column has-text-right">
    {% if nextPost %}
    <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }} →</a>
    {% endif %}
  </div>
</div>
