---
layout: default
---
<article>
  <header>
    <h2>
      <a href="{{ page.url }}">
        {{ page.title }}
      </a>
    </h2>
  </header>

  {{ content }}
</article>

<footer>
  Posted on
  <time datetime={{ page.date | date: "%Y-%m-%d" }}>
    {{ page.date | date: "%b %-d, %Y" }}
  </time>
  by {% include byline.html %}
</footer>

<nav>
  {% if page.previous %}
    <a href="{{ page.previous.url }}">
      &larr; {{ page.previous.title }}
    </a>
  {% endif %}

  {% if page.next %}
    <a href="{{ page.next.url }}">
      {{ page.next.title }} &rarr;
    </a>
  {% endif %}
</nav>
